html{
	margin: auto;
}

.chocobox{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;

}

@keyframes chocoanimation{
	0% {transform: translateX(-50px);}
	25% {transform: translateX(-100px);}
	50% {transform: translateX(-1500px);}
	75% {transform: translateX(-200px);}
	100% {transform: translateX(-250px);}
}

.chocobo{
	position: relative;
	transform: translateX(-70%);
	animation-name: chocoanimation;
	animation-duration: 10s;
	animation-delay: 0s;
}

