/***********************************CSS GÉNÉRAL****************************************/
html{
	padding: 0px;
	background-color: #F5444A;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 22px;
	color: whitesmoke;
}

body{
	box-sizing: border-box;
	color: whitesmoke;
	background-color: #141313;
}

p{
	color: whitesmoke;
	padding-left: 10%;
	padding-right: 10%;
}

.site-title{
	position: relative;
	top: 20px;
	width: 15%;
	color: #141313;
	text-decoration: none;
}

.menu-item{
	list-style: none;
	text-decoration: none;
}

a{
	color: whitesmoke;
}
.menu-item a{
	text-decoration: none;
	font-size: 20px;
	color: #141313;
	font-weight: bolder;
}

header{
	padding: 1%;
	padding-left:25%;
	padding-right: 25%;
	position: relative;
	max-width: 100%;
	box-sizing: border-box;
	background-color: #F5444A;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #141313;
	margin-bottom: 5%;
	height: 130px;
}

footer{
	padding: 1%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position:  relative;
	background-color: #F5444A;
	color: #141313;
	margin-top: 5%;
}

nav{
	position: relative;
	width: 80%;
}

.nav-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

h1{
	color: #F5444A;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
}

h2{
	color: #F5444A;
	font-size: 40px;
}

.liste{
	color: whitesmoke;
	list-style: none;
}

article{
	position: relative;
	left: 14%;
	width: 70%;
	padding:1%;
	border:5px solid whitesmoke;
	border-radius: 40px;
	text-align: center;
}

.container{
	max-width: 100%;
}

img{
	box-sizing: border-box;
	width: 50%;
}

img.neocities{
  width: 100px;
  position: relative;
  left: 10%;
  }